*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}
body{
    max-width: 1700px;
    background-color: #fff;
    margin: auto;
    z-index: auto;
}